
    

    
    <div class="projectInfoBox" id="projectInfoBox">
        
        <div class="infoText" >
        <h1 id="infoBoxTitle"></h1>
        <span id="InfoBoxText"></span>
        </div>

    <div class="infoBoximags">
        
    </div>
    </div>
    
  <!--  <div class="projectListNavBar" id="projectNav">
        <i class="fa-solid fa-computer-mouse"></i>

    </div>-->
    <div class="projectContainer" id="projContainer">
     <div class="projectListControls">
        <div onclick="loadProjectsWithTag(this)">All</div>
        <div onclick="loadProjectsWithTag(this)">FiveM</div>
        <div onclick="loadProjectsWithTag(this)">Web</div>
        <div onclick="loadProjectsWithTag(this)">UI</div>
        <div onclick="loadProjectsWithTag(this)">Python</div>
     
     </div>
        <div class="projects" id="projList">
        </div>
    </div>
    
